@import "../style/vars.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #dc1a28 transparent;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dc1a28;
    border-radius: 20px;
    border: none;
  }
}

body {
  font-family: sans-serif;
  color: $primary-font-color;
  padding-top: 100px;
  background: $primary-bg-color;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

ul li {
  list-style: none;
}

.container {
  width: 93%;
  margin: 0 auto;
}

.btn {
  background-color: rgb(126, 0, 0);
  color: $primary-font-color;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  text-transform: capitalize;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.338);
  transition: all 200ms;
  &:hover {
    background-color: rgb(184, 0, 0);
  }
  &:active {
    background-color: rgb(184, 0, 0);
    box-shadow: none;
    transform: scale(0.9);
  }
}
