@import "../style/vars.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: $primary-font-color;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

ul li {
  list-style: none;
}

.container {
  width: 93%;
  margin: 0 auto;
}
