@import "../style/vars.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: $primary-font-color;
  padding-top: 100px;
  background: $primary-bg-color;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

ul li {
  list-style: none;
}

.container {
  width: 93%;
  margin: 0 auto;
}

.btn {
  background-color: rgb(126, 0, 0);
  color: $primary-font-color;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  text-transform: capitalize;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.338);
  transition: all 200ms;
  &:hover {
    background-color: rgb(184, 0, 0);
  }
  &:active {
    background-color: rgb(184, 0, 0);
    box-shadow: none;
    transform: scale(0.9);
  }

  // .btn.active {
  //   position: relative;
  //   animation: ghost 600ms linear forwards;

  //   &::after {
  //     content: "OK";
  //     display: block;
  //     width: 30px;
  //     font-size: 1rem;
  //     color: lightgreen;
  //     font-weight: 700;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //   }

  //   @keyframes ghost {
  //     from {
  //       opacity: 0;
  //     }
  //     50% {
  //       opacity: 1;
  //       top: -10px;
  //     }
  //     to {
  //       opacity: 0;
  //       top: -20px;
  //     }
  //   }
  // }
  // &:focus {
  //   animation: ghost 300ms ease forwards;

  //   @keyframes ghost {
  //     from {
  //       transform: translateY(0);
  //     }
  //     50% {
  //       transform: translateY(-15px);
  //     }
  //     to {
  //       transform: translateY(0);
  //     }
  //   }
  // }
}
