@import "../style/vars";
main {
  .container {
    .searched,
    .preview,
    .pellicola {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .pellicola {
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: flex-start;
      flex-wrap: nowrap;
      scrollbar-width: thin;
      scrollbar-color: #dc1a28 transparent;
      margin-bottom: 5px;
    }
    .preview {
      .film {
        Film {
          min-width: 342px !important;
        }
      }
    }
    .film,
    .movie {
      cursor: pointer;
      padding: 2rem 1rem;
      transition: transform 400ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
