.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  .noitems {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    display: flex;
  }
  .film {
    width: 342px;
    cursor: pointer;
    padding: 2rem 1rem;
    transition: transform 400ms;
    position: relative;
    &:hover {
      transform: scale(1.1);
    }
    button {
      position: absolute;
      bottom: 36px;
      right: 16px;
      z-index: 6;
    }
  }
}
